/* telas entre 1367 e 1700 */
@media only screen and (min-width: 1367px) and (max-width: 1920px) {

	#bandeira {
		display: none;
	}

	.botao {
		top: 3%;
	}

	h3#tempo_cro {
		top: 160%;
		left: 3.5%;
		font-size: 18px;
		position: absolute;
	}

	#botoes_menu {
		top: 75%;
		width: 100%;
		position: fixed;
	}

	#fechador_loja {
		top: 15%;
	}

	#configuracoes {
		top: 25%;
		width: 70%;
		height: 50%;
	}

	#opcoes {
		top: 25%;
		left: 20%;
		width: 60%;
		height: 50%;
	}

	#estatistic {
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
	}

	#controles {
		top: 25%;
		left: 15%;
		width: 70%;
		height: 50%;
	}

	.marcador {
		left: 60px;
		width: 826px;
		bottom: 6.5%;
	}

	#alerta_teclas {
		left: 15%;
		bottom: 4%;
		position: absolute;
	}
}

/* telas entre 768px e 1366px */
@media only screen and (min-width: 721px) and (max-width: 1366px) {
	#bandeira {
		display: block;
	}

	#fechador_loja {
		top: 24%;
	}

	.marcador {
		left: 35px;
		width: 473px;
		bottom: 25px;
		height: 165px;
	}

	#estatistic {
		top: 10%;
		left: 25%;
		width: 50%;
		height: 80%;
	}

	#configuracoes {
		top: 10%;
		left: 10%;
		width: 80%;
		height: 85%;
	}

	#alerta_teclas {
		left: 5%;
		bottom: 5px;
		position: absolute;
	}

	#fechador_log {
		right: 2px;
	}
}

/* telas com largura entre 0px e 767px  980 Celulares */
@media only screen and (min-width: 0px) and (max-width: 720px) {

	#fimdejogo {
		font-size: 20px;
	}

	._estatistic_dead {
		font-size: 15px;
	}

	#stats_dead {
		right: 5%;
		width: 250px;
	}

	#stats_dead2 {
		left: 5%;
		width: 250px;
	}

	#tela_log_completa {
		width: 100%;
		overflow-x: hidden;
	}

	.categoria_log {
		padding-left: 8%;
		padding-right: 8%;
	}

	#centraliza {
		left: 0%;
		width: 100%;
		position: absolute;
	}

	#placeholder_conquista {
		grid-template-columns: auto auto auto auto auto auto;
	}
}